.outer-edge {
  margin: 0 auto;
  padding: 5px 0 0 10px;
  .toggle {
    display: flex;
    justify-content: flex-end;
  }
}
.inner-edge {
  border: 1px solid red;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.box {
  border: 1px solid #000;
  width: 1020px;  // 27.2cm
  height: 340px;  // 10.3cm
  border-radius: 8px;
}