// Regular key is 1.5cm x 1.5cm = 56.7px by 56.7px
.key {
  height: 56.7px;
  width: 56.7px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ededed;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.key:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.active {
  animation-name: highlight;
  animation-duration: .01s;
}

@keyframes highlight {
  0%   {
    background: none;
    box-shadow: none;
  }
  50%  {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
  }
  100% {
    background: #ededed;
    box-shadow: none;
  }
}